
<form #alumnoForm="ngForm" (ngSubmit)="guardarAlumno()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput name="nombreCompleto" [(ngModel)]="alumno.nombreCompleto" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Identificación</mat-label>
      <input matInput name="identificacion" [(ngModel)]="alumno.identificacion" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Programa</mat-label>
      <input matInput name="programa" [(ngModel)]="alumno.programa" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nota Promedio</mat-label>
      <input matInput type="number" name="notaPromedio" [(ngModel)]="alumno.notaPromedio">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Guardar</button>
  </form>
  